<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="catalog_category_prepare_save">
        <observer name="ced_fruugo_categories_save" instance="Ced\Fruugo\Observer\CategorySave"/>
    </event>
    <event name="catalog_controller_category_delete">
        <observer name="ced_fruugo_categories_delete" instance="Ced\Fruugo\Observer\CategoryDelete"/>
    </event>
    <event name="catalog_product_delete_after_done">
        <observer name="ced_fruugo_product_delete" instance="Ced\Fruugo\Observer\ProductDelete"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="ced_fruugo_product_save_before" instance="Ced\Fruugo\Observer\ProductSaveBefore"/>
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="ced_fruugo_product_save_after" instance="Ced\Fruugo\Observer\ProductSaveAfter"/>
    </event>-->
    <!--<event name="adminhtml_catalog_category_tabs">-->
        <!--<observer name="ced_fruugo_categories" instance="Ced\Fruugo\Observer\Categorytabs"/>-->
    <!--</event>-->
    <event name="cataloginventory_stock_item_save_after">
        <observer name="ced_fruugo_inventory_save" instance="Ced\Fruugo\Observer\InventoryChange"/>
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="ced_fruugo_product_save_after" instance="Ced\Fruugo\Observer\InventoryChange"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="ced_fruugo_shipment" instance="Ced\Fruugo\Observer\Shipment"/>
    </event>
    <event name="sales_order_shipment_resource_save_after">
        <observer name="ced_fruugo_shipment_resource" instance="Ced\Fruugo\Observer\Shipment"/>
    </event>
    <!--<event name="controller_action_predispatch">
        <observer name="ced_fruugo_controller_action_predispatch" instance="Ced\Fruugo\Observer\Predispatch" />
    </event>
    <event name="controller_action_postdispatch">
        <observer name="ced_fruugo_controller_action_postdispatch" instance="Ced\Fruugo\Observer\Postdispatch" />
    </event>
    <event name="layout_load_before">
        <observer name="layout_load_before_cedcommerce" instance="Ced\Fruugo\Observer\BeforeLoadLayout" />
    </event>-->
</config>
